<html> 
	<head> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<title>Api Tester alpha0.01</title> 
	<script src="lib/jquery-1.4.4.min.js"></script>
	<script src="lib/jquery.cookie.js"></script>
	<script>
	var json_data = <?php echo json_encode($history);?>;
	</script>
<body>
<form method="post" >
<h2><?php if(defined("TOOLSNAME")) {echo TOOLSNAME;}?></h2>
<div style="float:left;width:600px">
	<h4>必需参数:</h4>
	<span><label for=format_json><input type="checkbox" name="format_json" id="format_json" value="1" <?php if(isset($_POST["format_json"]) && $_POST["format_json"]){?>checked<?php }?>/>如果返回值是JSON格式 是否输出数据形式</label></span>
	<ul>
		<li><input value="url" disabled size="10" />:<input name="url" value="<?php echo $system['url'];?>" size="60" /></li>
		<li><input value="Token" disabled size="10" />:<input name="token" value="<?php echo $system['token'];?>" size="60" /></li>
		<?php foreach($required as $key=>$val) {?>
			<li>
				<input value="<?php echo $key;?>" disabled  size="10" />:<input name="required[<?php echo $key;?>]" value="<?php echo $val;?>" size="60" />
			</li>
		<?php }?>
	</ul>
</div>

<div style="float:left;width:300px">
    <h4>历史记录:</h4>
    <div>
    <select size="1" style="width:200px;" id="sel_url">
        <option value=""  <?php if(empty($system['url'])){?>selected<?php }?>>请选择</option>
        <?php foreach($history as $key=>$val) {?>
            <option value="<?php echo $val['url'];?>" <?php if($val['url'] == $system['url']){?>selected<?php }?>  index="<?php echo $key;?>"><?php echo $val['url'];?></option>
        <?php }?>
    </select>
    </div>
    
    <div>
    <select multiple size="12" style="width:200px;" id="sel_list">
        <?php foreach($history as $val) {?>
           <?php if($val['url'] == $system['url']) {?>
               <?php foreach($val['data'] as $key=>$val1) {?>
               <option value="<?php echo $key;?>"  <?php if($key == $required[METHOD]) {?>selected<?php }?>><?php echo $key;?></option>
               <?php }?>
           <?php }?>
        <?php }?>
    </select>
    </div>
    <input type="button" value="应用" id="btn_apply" /> 
</div>
<div style="clear:both;"></div>
<hr width="100%" />
<div>
	<h4>添加的参数</h4>
	<ul id="args">
		<?php foreach($post as $key=>$val) {?>
		<li>
			<input name="name[]" value="<?php echo $key;?>"  size="10" />:<input name="value[]" value="<?php echo $val;?>" size="60" /><span class="btn_delete" onclick="delete_func(this);">X</span>
		</li>
		<?php }?>
		<li><input type="button" value="添加一个参数" id="add_args"/></li>
	</ul>
</div>
<hr width="100%" />
<div><input type="submit"  value="提交查询"/></div>
</form>

<?php if($result) {?>
<div>
	<h4>请求的结果</h4>
	<pre>
		<?php echo $result;?>
	</pre>
</div>
<?php }?>

<div style="z-index:999;top:0px;left:360px;position:absolute;background:#eeeeee;">
<h5>请选择你要使用的api类型</h5>
<?php foreach($types as $key=>$val) {?>
<label><input type="radio" name="type" value="<?php echo $val;?>" <?php if($val == APITYPE){?>checked<?php }?>/><?php echo $val;?></label>&nbsp;&nbsp;
<?php }?>
</div>
<script>
var delete_func = function(e){
	var tmp = $(".btn_delete").get();
	if(e == tmp[0]) {
		alert("把根留住");
		return false;
	}
	$(e).parent("li").remove();
}

$("#add_args").click(function(){
	$("#add_args").parent("li").prev().clone().insertBefore($("#add_args"));
});

$("#btn_apply").click(function(){
    if($("#sel_url").val() && $("#sel_list").val()) 
    {
        var list = $("#sel_list").val().toString().split(",");
        $.cookie("url",$("#sel_url").val());
        $.cookie("act",list[0]);
        window.location.reload();
    } else {
        alert("选择一下呀");
    }
});

$("#sel_url").change(function(){
    $("#sel_list option").remove();
    var index = $("#sel_url option:selected").attr("index");
    if(index){
        for( o in json_data[index-1]["data"]){
            $("#sel_list").append("<option value=\""+ o +"\">"+ o +"</option>");
        }
    }
    return false;
});

$(":radio").click(function(){
    $.cookie("type",this.value);
    window.location.reload();
});
</script>
</body>
</html>